
.menu{
    background-color: rgb(55, 55, 55);
    list-style-type: none;
    border-radius: 20px;
    width: 800px;
    padding: 20px;
    position: absolute;
    padding-left: 10px;
   
    
    
    
    

}
.menu li{
    float: left;

}
.menu li a{
    color: white;
    text-decoration: none;
    padding: 20px 10px 20px 10px;
    font-size: 8pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-right: solid 1px white;


}
 .menu li a:hover{
 background-color: black;
 }

 
.submenu  {
    background-color:white;
    width: 60px;
    list-style-type: none;
    margin: 10px;
    position: absolute;
    display: none;



}
.submenu li{
    float: none;
    border: solid 1px;
}
.submenu li a{
    color: black;
    border: none;
    padding: 20px;

}
.menu li:hover .submenu   {
    background-color: darkgray;
        padding: 0px;
        margin: 0px;
        display: block;
        position: fixed;       
    display: block;
    
    }
    .submenu li a:hover{
        background-color: red;
        padding: 5px;
        border-radius: 5px;
        }
       
        .icon{
            font-size:18px;
            color:red;
            padding: 5px;
            margin-right: 5PX;
            margin-top: 5px;
        }