
.menu{
    background-color: rgb(55, 55, 55);
    list-style-type: none;
    border-radius: 20px;
    overflow: auto;
    width: 100%;
    padding: 20px;
    position: absolute;
    display: block;
    
    
    

}
.menu li{
    float: left;

}
.menu li a{
    color: white;
    text-decoration: none;
    padding: 20px 10px 20px 10px;
    font-size: 8pt;
    border-right: solid 1px white;


}
 .menu li a:hover{
 background-color: black;
 }
.submenu  {
    background-color:white;
    border: none;
    padding-left: 0px;
    list-style-type: none;
    margin-top: 10px;
    position: absolute;
    display: none;


}
.submenu li{
    float: none;
}
.submenu li a{
    color: black;
    border: none;
}
.menu li a:hover .submenu {
    background-color: darkgray;
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    display: block;
    
    }